<div class="contact">
  
  <div class="container">
    
    <div class="row">
      
      <ul class="col-sm-3">
        
        <li><a class="action invert" href="mailto:glenndeclercq@live.be?subject=I%27d%20love%20to%20work%20with%20you">Contacteer mij</a></li>
      
      </ul>
      
      <ul class="col-sm-3 social">
  
        <li><a href="http://twitter.com/" target="_blank" >Twitter</a></li>
  
        <li><a href="http://dribbble.com/" target="_blank" >Dribbble</a></li>
  
        <li><a href="http://www.linkedin.com/" target="_blank" >Linkedin</a></li>
  
        <li><a href="http://instagram.com/" target="_blank" >Instagram</a></li>
  
      </ul>
      
    <div class="col-sm-6">
       
      <p>Aarzel niet om contact op te nemen bij eventuele vragen of opmerkingen. Ik zal zo spoedig mogelijk antwoorden.</p>
        
      <p><a class="contact-close" href="index.html#"><img src="{{ "assets/img/contact/close.svg" | prepend: site.baseurl }}" alt="close" style="width:30px;height:30px"></a></p>
      
    </div>
    
    </div>

  </div>

</div>