<footer id="footer" class="footer">
  
  <div class="container">
    
    <div class="row">
      
      <ul class="col-sm-3">
        
        <li><a href="{{"../projecten/" | prepend: site.baseurl }}"><span>Projecten</span></a></li>
        
        <li><a href="{{"../profiel/" | prepend: site.baseurl }}" ><span>Profiel</span></a></li>            
        
        <li><a href="mailto:declercqglenn@gmail.com?subject=I%27d%20love%20to%20work%20with%20you"><span>Contact</span></a></li>
                    
        <!--<li><a href="{{"../blog/" | prepend: site.baseurl }}" ><span>Blog</span></a></li>-->
        
      </ul>
      
      <ul class="col-sm-3 social">
    
        <li><a href="http://twitter.com/" target="_blank" >Twitter</a></li>
    
        <li><a href="http://dribbble.com/" target="_blank" >Dribbble</a></li>
    
        <li><a href="http://www.linkedin.com/company/" target="_blank" >Linkedin</a></li>
    
        <li><a href="http://instagram.com/" target="_blank" >Instagram</a></li>
    
      </ul>
     
    <div class="col-sm-6">
        
      <p>Door samen te werken, is het mogelijk om tot nieuwe inzichten te komen en creative problemen op te lossen. Indien u een interessant idee of project wil uitwerken — groot of klein, commercieel of persoonlijk — ik ben altijd bereid om te luisteren en te reageren.</p>
      
    </div>
    
    </div>
 
  </div>

</footer>
