<div class="container">
  
  <ul class="nav brand">
    
    <li><a href="{{ "../index"  | prepend: site.baseurl }}"><span>Glenn Declercq</span></a></li>
  
  </ul>
  
  <ul class="nav menu">
    
    <li><a href="{{"../projecten/" | prepend: site.baseurl }}"><span>Projecten</span></a></li>
    
    <li><a href="{{"../profiel/" | prepend: site.baseurl }}"><span>Profiel</span></a></li>
    
    <li><a href="index.html#" class="contact-toggle"><span>Contact</span></a></li>
    
    <!--<li class="hidden-xs"><a href="{{"../blog/" | prepend: site.baseurl }}"><span>Blog</span></a></li>-->
  
  </ul>
  
</div>





